/* MAIN PAGE */
body {
      position: relative;
      font-family: 'Ubuntu', sans-serif;
      background-color:#1a001a;
}

.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.navbar-header {
    padding-left:40px;
}

#logo-main, #logo-archive {
    position:absolute;
    height:40px;
    width:auto;
    margin-top:5px;
}

.affix ~ .container-fluid {
   position: relative;
   top: 0px;
}

.container-fluid {
    color:white;
}

a {
   text-decoration:none;
}

#header {
    height:100vh;
    background-image: url('http://apod.nasa.gov/apod/image/1602/NorthEastUSA_ISS_4256.jpg');
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#title {
    color:white;
    text-align:right;
    margin-right:5%;
    margin-top:50vh;
}

#title h1 {
    text-shadow: 10px 10px 5px #000000;
    font-size:5.25em;
    letter-spacing: 20px;
}

#title h2 {
    text-shadow: 7px 7px 2px #000000;
    font-size:1.5em;
    letter-spacing:5px;
}

#whatisapod {
    background-image: url('http://apod.nasa.gov/apod/image/1606/horseheadir_hubble_1225.jpg');
}

#app {
    background-image: url('http://apod.nasa.gov/apod/image/1605/PelicanIC5067close_colombari_q100_watermark1024.jpg');
}

#contact {
    background-image: url('http://apod.nasa.gov/apod/image/1605/NGC5078-LRGBhager1024.jpg');
}

#whatisapod-caption, #app-caption, #footer {
    background-color:#1a001a;
}

#app-img{
    height:200px;
    width:auto;
}

#apods, #contact-caption{
    background-color:#0d0d0d;
}

.caption{
    height:70vh;
    font-size:18px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}

.parallax {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display:flex;
    align-items: center;
    justify-content: center;
}


/* newest APODs */
#apods {
    padding-top:50px;
    padding-bottom:50px;
    height:100%;
}

#apods h1 {
    margin-bottom:50px;
}

#link {
    padding-top:5vh;
    width: 100%;
    text-align: center;
}

.archive-button {
  background-color: #1a001a;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.75em;
  padding: 20px;
  width: 30%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border:1px solid white;
}

.archive-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.archive-button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.archive-button:hover span {
    padding-right: 25px;
}

.archive-button:hover span:after {
    opacity: 1;
    right: 0;
}

#footer {
    height:40px;
    text-align:center;
}

/* MAIN PAGE IMAGES */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal image */
.modal-content {
    margin: auto;
    display: block;
    height:70vh;
    border:1px solid white;
    border-radius:0;
}

/* Caption of Modal image */
#caption {
    margin: auto;
    display: block;
    width: 90%;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 15vh;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 60px;
    right: 5vh;
    color: white;
    font-size: 2em;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* ARCHIVE */
.archive-bar, .back-button{
    height:50px;
    background-color: #262626;
}

.archive-bar{
    position:fixed;
    width:100%;
    padding:0;
}

.back-button {
    color: white;
    border: none;
    text-align: center;
    font-size: 1.25em;
    transition: all 0.5s;
    cursor: pointer;
    padding-left:10px;
}

.back-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.back-button span:after {
    content: '«';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -10px;
    transition: 0.5s;
}

.back-button:hover span {
    padding-left: 20px;
}

.back-button:hover span:after {
    opacity: 1;
    left: 0;
}

#logo-archive {
    top:50%;
    left:50%;
    margin-top:-20px;
    margin-left:-50px;
}

input[type=text] {
    float: right;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 16px;
    background-color: #262626;
    margin: 5px;
    padding: 7px 20px 7px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 33%;
}

.glyphicon {
    position: absolute;
    right: 0;
    padding: 18px 15px;
}

/* Pagination*/
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #262626;
    transition: background-color .3s;
    margin-bottom: 20px;
}

ul.pagination li a:hover:not(.active) {
    background-color:black;
    color: white;
}

/* images */
iframe {
    height:50vh;
    width:100%;
    border:none;
 }

.panel-image {
    position: relative;
}
.panel-image img.panel-image-preview {
   height:50vh;
   width:100%;
   object-fit: cover;
}

.panel-image label {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.panel-heading ~ .panel-image img.panel-image-preview {
	border-radius: 0px;
}

.panel-body {
   overflow: hidden;
   color:#0d0d0d;
   text-align:justify;
}

.panel-image ~ input[type=checkbox] {
    position:absolute;
    top:- 30px;
    z-index: -1;
}

.panel-image ~ input[type=checkbox] ~ .panel-body {
	height: 0px;
	padding: 0px;
}

.panel-image ~ input[type=checkbox]:checked ~ .panel-body {
    height: auto;
	padding: 15px;
}

.panel-image ~ .panel-footer a {
    padding: 0px 10px;
	font-size: 1.3em;
}