<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>APOD.com</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        body {
      position: relative;
  }
  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
      border-radius: 0 !important;
      -moz-border-radius: 0 !important;
  }

  .affix ~ .container-fluid {
     position: relative;
     top: 0px;
  }
    </style>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50" style="font-family: ubuntu; background-color:#1a001a;">

{% block 'content' %}

<div id="header" class="container-fluid">
    <h1 id="title">APOD.com</h1>
    <h2 id="subtitle"><i>Astronomy Picture Of the Day</i></h2>
</div>

<!-- The Navbar -->
<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="600">
  <div class="container-fluid">
    <div class="navbar-header"><b>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">APOD.com</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#whatisapod">What is APOD?</a></li>
          <li><a href="#apods">Newest APODs</a></li>
          <li><a href="#app">APOD-Pocket app</a></li>
          <li></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div id="whatisapod" class="container-fluid">
    <h1>What is APOD?</h1>
</div>
<div id="whatisapod-caption" class="container-fluid">
    <p>APOD is Astonomy Picture Of the Day.</p>
    <p>Each day a different image or photograph of our fascinating universe is featured by Nasa, along with a brief explanation written by a professional astronomer. </p>
</div>

<div id="apods" class="container-fluid">
    <h1>Watch newest APODs</h1>
    <div class="row">
        {% for data in object_list %}
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-image hide-panel-body">
                    <img id="img{{ forloop.counter}}" src="{{ data.url }}" alt="{{ data.explanation }}" class="panel-image-preview"/>
                </div>
                <div class="panel-heading" style="background-color:#1a001a; color:white;">
                    <p><b>{{ data.date }}</b></p>
                    <h4>{{ data.title }}</h4>
                    <p style="font-size:10px">Copyright: {{ data.copyright }}</p>
                </div>
            </div>
        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal panel panel-default">
            <span class="close">×</span>
            <img class="modal-content" id="img">
            <div id="caption"></div>
        </div>

        <script>
        var modal = document.getElementById('myModal');
        var img = document.getElementById('img{{ forloop.counter}}');
        var modalImg = document.getElementById("img");
        var captionText = document.getElementById("caption");
        img.onclick = function(){
            modal.style.display = "block";
            modalImg.src = this.src;
            modalImg.alt = this.alt;
            captionText.innerHTML = this.alt;
        }
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        </script>

        {% endfor %}
    </div>
   <div id="link"><a href="archive"><button class="button"><span>Full Archive</span></button></a></div>
</div>

<div id="app" class="container-fluid">
  <h1>APOD-Pocket app</h1>
</div>
<div id="app-caption" class="container-fluid">
  <h1>COMING SOON!</h1>
</div>

<div id="contact" class="container-fluid">
  <h1>Contact</h1>
</div>
<div id="contact-caption" class="container-fluid">
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<script>
$(document).ready(function(){
  $('body').scrollspy({target: ".navbar", offset: 50});
  $("#myNavbar a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
        window.location.hash = hash;
      });
    }
  });
});
</script>

{% endblock %}
<div id="footer" class="container-fluid">
    <h4 style="vertical-align: middle;">© 2016 APOD.com</h4>
</div>
</body>
</html>

