<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>Apods</title>
    <meta charset="UTF-8">
</head>
<body>
<ul id="bar">
    <li><a class='active' href='web'>HOME</a></li>
    <li><a href="list">APODS</a></li>
    <li><a href="#apod-pocket">APODpocket</a></li>
    <li><img src="{% static 'Logo.png' %}" alt='logo'></li>
    <ul style="float:right;list-style-type:none;">
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="#about">ABOUT</a></li>
    </ul>
</ul>
<div>
    <div id="header">
        <h1 id="title">APOD.</h1>
        <h2 id="subtitle"><i>Astronomy Picture Of the Day</i></h2>
    </div>
    <img id="logo" src="{% static 'Logo.png' %}" alt='logo'>
</div>
{% block content %}
{% endblock %}
</body>
</html>