body {
position: relative;
}

.strip {
background-color:white;
height:10px;
}

#header {
    background-image: url('http://apod.nasa.gov/apod/image/1602/NorthEastUSA_ISS_4256.jpg');
    background-size:cover;
    height:450px;
}

#title {
    text-shadow: 10px 10px 5px #000000;
    color:white;
    text-align:right;
    margin-right:50px;
    padding-top:183px;
    font-family: ubuntu;
    font-size:84px;
    letter-spacing: 20px;
}

#subtitle {
    text-shadow: 10px 10px 5px #000000;
    color:white;
    text-align:right;
    margin-right:50px;
    font-family: ubuntu;
    font-size:24px;
    letter-spacing:5px;
}

.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}

.navbar {
    margin-bottom: 0px;
}

.affix ~ .container-fluid {
    top: 50px;
    position: relative;
}

.container-fluid {
    color:white;
}

#whatisapod {
    background-color:#1a001a;
    padding-top:50px;
    height:500px;
}

#apods {
    background-color:#0d0d0d;
    padding-top:50px;
    height:500px;
}

#app {
    background-color:#1a001a;
    padding-top:50px;
    height:500px;
}

#contact {
    background-color:#0d0d0d;
    padding-top:50px;
    height:500px;
}

#footer {
background-color:#1a001a;
height:60px;
}

#logo {
    margin:auto;
    height:auto;
    width:50px;
}

#latest{
    margin-top: 100px;
    margin-bottom:50px;
    background-color:white;
    font-family:ubuntu;
    color:black;
}

#img-list {
    margin: 5px;
    border: 1px solid #ccc;
    float: auto;
    width: 180px;
}

#img-list img {
    width: 100%;
    height: auto;
}

#desc{
    color:white;
    padding: 15px;
    text-align: center;
}

#img-main{
    margin: 5px;
    border: 1px solid #ccc;
    float: auto;
    width: 180px;
    background-color:#1a001a;
}

